/* ======== BODY-SECTION-START ======== */

body{
    background-color: black;
    background-size: 100%;
}

.body-section .movie-banner .movie-image{
    /* margin: 8px 0 0 816px; */
    margin-top: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.body-section .movie-banner .text{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

.body-section .movie-banner .download-button{
    /* margin: 0 0 0 916px; */
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    border: none;
    padding: 16px 34px 16px 34px;
}

.body-section .movie-banner a{
    text-decoration: none;
    color: black;
    /* padding: 8px 16px 8px 16px; */
}

/* ======== BODY-SECTION-START ======== */