.header .navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    /* max-width: 80vw; */
    padding: 0 188px 0 188px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--header-color);
    margin: auto;
}

.header .navber .navber-links{
    display: flex;
    gap: 44px;
}

.header .navber .navber-links li{
    list-style: none;
    letter-spacing: 3.44px;
    font-size: 26px;
    cursor: pointer;
}

.header .navber .navber-links li:hover{
    text-decoration: underline;
    transition: all 0.8ms;
}

.header .navber .search-and-user{
    display: flex;
    gap: 16px;
    align-items: center;
}

.header .navber .search-and-user .search-box{
    display: flex;
}

.header .navber .search-and-user .search-box input{
    padding: 8px 0 8px 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: none;
}

.header .navber .search-and-user .search-box ::placeholder{
    text-align: center;
    letter-spacing: 2px;
}

.header .navber .search-and-user .search-box .search-button{
    padding: 0 8px 0 8px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
}

/* .header .navber .search-and-user .search-box .search-icon{
    display: flex;
} */

.header .navber .search-and-user .user{
    display: flex;
}

.header .navber .search-and-user .user .user-button{
    border-radius: 50%;
    border: none;
}

.header .navber .search-and-user .user .user-icon{
    width: 34px;
    display: flex;
    border-radius: 50%;
}